
@{
    ViewBag.Title = "onError";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>Sorry!! You have to Sign Up or your Session has Expired</h2>

@*@if(ViewBag.x==null)
{ 
<h2>Sorry!! You  are not logged in</h2>
}
else
{
     <h2>Sorry!! Your Session has Expired</h2>
}*@
<div style="height:240px">

</div>