
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2><span>About </span> Parental Control Application</h2>
          <p><strong>Introduction</strong></p>
          <p>
Parental control application will provide a facility to parents that they can keep an eye on their child’s activities. With the help of this app parents can restrict their children for outgoing calls at particular time. They can access incoming and outgoing messages from children’s android phone any time.  Time duration of calls can also be check on parent side whenever they want to do so. Restriction of particular area can also be imposed on children by locating their position through GPS. An alert through notification will be sent on parent side when children will enter restricted area. This app will run in background and children will be unaware of it. Only parents will be able to enable or un-enable the restriction.
</p>
        </div>
        <div class="article">
          <h2><span>Our</span> Mission</h2>
          <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget bibendum tellus. Nunc vel imperdiet tellus. Mauris ornare aliquam urna, accumsan bibendum eros auctor ac.</strong></p>
          <p> Purpose of our application is care of children. This has following module
            <ol>
	 <li>Keep record of child activities </li>
    <li>Offline notifications to parent via GSM</li>
    <li>Track location of child using GPRS</li>
    <li>	Each activity store in database</li>
    <li>	 Privacy Handling</li>
    <li>	Create list of all activities record using database</li>
    <li>	Parents view activities when they want.</li>
                </ol>
Our application is very useful for parents they keep eye on their children activities during their busy schedule.
</p>
          <p>Parent must have an android handset, so as the child. Parent and child must have installed parental control app. You would have to log in to the system thorugh your android handset to have a check on Child.</p>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>Sidebar</span> Menu</h2>
          <ul class="sb_menu">
            <li><a href="/Home/Index">Home</a></li>
            <li><a href="#">TemplateInfo</a></li>
            <li><a href="#">Style Demo</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Archives</a></li>
            <li><a href="http://www.dreamtemplate.com">Website Templates</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span>Sponsors</span></h2>
          <ul class="ex_menu">
            <li><a href="http://www.dreamtemplate.com" title="Website Templates">Sir Fareed Ul Hassan Baig</a><br />Over 6,000+ Premium Web Templates</li>
            <li><a href="http://www.templatesold.com" title="WordPress Themes">Syeda Zeil E Huma JAffri</a><br />Premium WordPress &amp; Joomla Themes</li>
            <li><a href="http://www.imhosted.com" title="Affordable Hosting">Mehtab ILyas</a><br />Affordable Web Hosting Provider</li>
            <li><a href="http://www.dreamstock.com" title="Stock Photos">Roma Shafqat</a><br />Download Amazing Stock Photos</li>
            <li><a href="http://www.evrsoft.com" title="Website Builder">Atia Khalid</a><br />Website Builder Software &amp; Tools</li>
            <li><a href="http://www.myvectorstore.com" title="Stock Icons">Hafiz Suleman</a><br />Royalty Free Stock Icons</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2>About</h2>
        <img src="~/images/white.jpg" width="66" height="66" alt="pix" />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum. <a href="#">Learn more...</a></p>
      </div>
      <div class="col c2">
        <h2>Lorem Ipsum</h2>
        <ul class="sb_menu">
          <li><a href="#">consequat molestie</a></li>
          <li><a href="#">sem justo</a></li>
          <li><a href="#">semper</a></li>
          <li><a href="#">magna sed purus</a></li>
          <li><a href="#">tincidunt</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2>Contact</h2>
        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>
        <p><strong>Phone:</strong> +1234567<br />
          <strong>Address:</strong> 123 TemplateAccess Rd<br />
          <strong>E-mail:</strong> <a href="mailto:info@example.com">bcsf11m119@pucit.edu.pk</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>