
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Support</h2>

<p style="font-size:14px;font-family:Arial">

    This is Parental Web Portal where parents can View Their Child's activities on internet.<br />
    For Editing Information or Adding new Child Please refer to Mobile Application.
</p>

<div style="height:240px">

</div>
